rich_click~=1.8.4
rich~=13.9.4
pillow~=11.0.0
pypxml~=2.0
kraken~=0.0.1.dev2130
opencv-python~=4.10.0.84
numpy~=1.23.5
rich-click~=1.8.4
lightning~=2.2.5
importlib_resources~=6.4.5
scipy~=1.10.1
Shapely~=1.8.5.post1
